@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  text-align: center;
}
.header__item {
  font-weight: 700;
  font-size: 18px;
  background-color: white;
  font-style: normal;
  display: inline-block;
  padding: 25.5px 36px;
}
.header__item a {
  color: red;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.header__list li {
  list-style: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header_nav {
  display: inline;
}
.banner {
  background-image: url("../img/imgforweb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 789px;
}

.main__block {
  width: 100%;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-align: center;
  margin: 48px 253px;
}
.main__block p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  letter-spacing: 2.4px;
  padding-left: 67.5px;
  padding-right: 67.5px;
}
.first__paragraph {
  padding-bottom: 28px;
}

.main__link {
  display: inline-block;
  background-color: red;
  font-weight: 700;
  size: 12px;
  padding: 18px 43.5px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  margin: 66px 544.5px 42px 544.5px;
}

.footer__paragraph {
  padding: 82px 105px 29px 713px;
  display: inline-block;
  font-weight: 700;
  color: #373737;
  font-style: normal;
  font-size: 16px;
}
